<script>
    var strMessage = "{% t cookie.strMessage %}";
    var strDismiss = "{% t cookie.strDismiss %}";
    var strAllow = "{% t cookie.strAllow %}";
    var strDeny = "{% t cookie.strDeny %}";
    var strLink = "{% t cookie.strLink %}";
    var strHref = "{% t cookie.strHref %}";

    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#252e39"
            },
            "button": {
                "background": "transparent",
                "text": "#008288",
                "border": "#008288"
            }
        },
        "position": "bottom-right",
        "type": "opt-in",
        "content": {
            "message": strMessage,
            "dismiss": strDismiss,
            "allow": strAllow,
            "deny": strDeny,
            "link": strLink,
            "href": strHref
        },
        onInitialise: function (status) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                // enable cookies
                EnableMSClarityonConsent();
                EnableGTAGonConsent();
            }
            if (type == 'opt-out' && !didConsent) {
                // disable cookies
            }
        },
        onStatusChange: function (status, chosenBefore) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                // enable cookies
                EnableMSClarityonConsent();
                EnableGTAGonConsent();
            }
            if (type == 'opt-out' && !didConsent) {
                // disable cookies
            }
        },
        onRevokeChoice: function () {
            var type = this.options.type;
            if (type == 'opt-in') {
                // disable cookies
            }
            if (type == 'opt-out') {
                // enable cookies
                EnableMSClarityonConsent();
                EnableGTAGonConsent();
            }
        }
    });
</script>