<!-- start custom footer snippets -->

<!-- Osano - consent -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>

<!--TODO Change dynamically the content based on site language -->

<script>
var strMessage = "{% t cookie.strMessage %}";
var strDismiss = "{% t cookie.strDismiss %}";
var strAllow = "{% t cookie.strAllow %}";
var strDeny = "{% t cookie.strDeny %}";
var strLink = "{% t cookie.strLink %}";
var strHref = "{% t cookie.strHref %}";

window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "transparent",
      "text": "#14a7d0",
      "border": "#14a7d0"
    }
  },
  "position": "bottom-right",
  "type": "opt-in",
  "content": {
    "message": strMessage,
    "dismiss": strDismiss,
    "allow": strAllow,
    "deny": strDeny,
    "link": strLink,
    "href": strHref
  }
});
</script>
<!-- end Osano - consent -->

<!-- end custom footer snippets -->