<!-- start custom head snippets -->
<!-- Favicon -->
<link rel="shortcut icon" href="/assets/images/favicon.ico" />

<!-- Multilang tags -->
{% for lang in site.languages %}
    {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
<link rel="alternate" hreflang="{{ lang }}" href="{{ site.baseurl_root }}{{ page.url }}">
    {% else %}
<link rel="alternate" hreflang="{{ lang }}" href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}">
    {% endif %}
{% endfor %}

<!-- Cookie Consent - Osano -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<!-- end custom head snippets -->
