{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
    {% if site.lang == site.default_lang and site.default_locale_in_subfolder != true %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.lang].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="/{{ site.lang }}{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.lang].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.lang].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.next %}
      {% if site.lang == site.default_lang and site.default_locale_in_subfolder != true %}
        <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.lang].pagination_next | default: "Next" }}</a>
      {% else %}
        <a href="/{{ site.lang }}{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.lang].pagination_next | default: "Next" }}</a>
      {% endif %}  
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.lang].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}